.config/coc/explorer-actions
.config/coc/extensions/coc-phpls-data/
.config/coc/extensions/package.json
.config/coc/extensions/package-lock.json
.config/coc/list-commands-history.json
.config/coc/list-explorerFiles-history.json
.config/coc/list-explorerActionList-history.json
.config/coc/list-extensions-history.json
.config/coc/list-lists-history.json
.config/coc/lists
.config/coc/list-location-history.json
.config/filezilla/
.netrwhist
.vim/after/
.vim/colors/*
.vim/ftplugin
.vim/view/
!.vim/colors/Tomorrow-Night-Bright.vim
